@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*You can add class popular to the movie if the number of customer who rent the movie > 0*@
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}
<h2>@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before.</p>
}

else
{
    <ul>

        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>

}

